<div>
    <p class="text-muted text-sm font-semibold text-center my-12">
        Made with
        <i class="bi bi-heart mx-1"></i>
        by
        <a href="https://www.kenst.com/">Chris Kenst</a>
    </p>
</div>