---
layout: base
title: About
heading: Heading
---

<div class="py-24">
    <div class="container max-w-screen-xl">
            <div class="display-4 mb-5 mt-n16">📰</div>
            <h1 class="ls-tight font-bolder display-3 mb-5">
                <span class="d-inline-flex link-primary">About</span> Us.
            </h1>
            <p class="lead mb-10">
                A <b>Press</b>: the art or business of printing and publishing. Taken a step further a press is about sharing information. <br>

                A <b>Context Driven</b> Press is about doing the best we can to share information. The biggest constraint being our own understanding. <br>
                
                Context Driven Press serves as a platform for sharing information and ideas across numerous properties across the web. 
    </div>
</div>
<div class="py-24">
    <div class="container max-w-screen-xl">
            <h2>In the Past</h2>
                <div class="mt-20 mb-12">
                    <img src="/img/copy-banner2a1.png" alt="..." width=50% > 
                        <br> 
                        <p class="lead mb-10">
                            In the not too distant past, Context Driven Press was run by Cem Kaner and Rebecca Fiedler. <br> 
                            Together they published a number of software testing books that are no longer in print.
                        </p>
                </div>
    </div>
</div>