---
layout: base
title: About
heading: Heading
---

<div class="py-24">
    <div class="container max-w-screen-xl">
            <h1 class="ls-tight font-bolder display-3 mb-5">
                About
            </h1>
            <p class="lead mb-10">
                In a previous interation Context Driven Press was run by Cem Kaner and Rebecca Fiedler and used to publish a number of software testing books that are no longer in print.
            </p>
            <p class="lead mb-10">
                A press is the art or business of printing and publishing; That's what we do.
            <p class="lead mb-10">
                Today Context Driven Press is run by Chris Kenst
            </p>
    </div>
</div>