---
layout: base
title: Components
---

alert:
<div class="alert alert-primary" role="alert">
    <strong>Holy guacamole!</strong>
    A simple primary alert—check it out!
</div>

Dismissible alert:
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>Holy guacamole!</strong> You should check in on some of those fields below.
    <button type="button" class="btn-close text-xs text-success" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

Feature Section:

<div class=" pt-24 pb-24 py-24">
    <div class="container max-w-screen-xl">
        <!-- Section title -->
        <div class="row justify-content-center text-md-center mb-24">
            <div class="col-lg-7">
                <!-- Surtitle -->
                <h5 class="h5 mb-5 text-uppercase text-primary">
                    Features
                </h5>
                <!-- Heading -->
                <h1 class="ls-tight font-bolder mb-5">
                    Impressive modules and features
                </h1>
                <!-- Text -->
                <p class="lead">
                    With this premium component library you will start building modern user interfaces faster and more consistent than ever before.
                </p>
            </div>
        </div>
        <!-- Features -->
        <div class="row g-16 g-md-24">
            <div class="col-md-4 mb-5 mb-md-0">
                <!-- Icon -->
                <div class="icon icon-shape icon-lg bg-primary text-white text-lg rounded-circle mb-7">
                    <i class="bi bi-arrows-angle-expand"></i>
                </div>
                <!-- Title -->
                <h5 class="h4 font-semibold mb-2">Fully Responsive</h5>
                <!-- Text -->
                <p class="lh-relaxed">
                    You get components and pages that are built to be customized and used in any combination.
                </p>
            </div>
            <div class="col-md-4 mb-5 mb-md-0">
                <!-- Icon -->
                <div class="icon icon-shape icon-lg bg-primary text-white text-lg rounded-circle mb-7">
                    <i class="bi bi-columns"></i>
                </div>
                <!-- Title -->
                <h5 class="h4 font-semibold mb-2">Multiple Layouts</h5>
                <!-- Text -->
                <p class="lh-relaxed">
                    You get components and pages that are built to be customized and used in any combination.
                </p>
            </div>
            <div class="col-md-4 mb-5 mb-md-0">
                <!-- Icon -->
                <div class="icon icon-shape icon-lg bg-primary text-white text-lg rounded-circle mb-7">
                    <i class="bi bi-border-style"></i>
                </div>
                <!-- Title -->
                <h5 class="h4 font-semibold mb-2">Adaptive Styleguide</h5>
                <!-- Text -->
                <p class="lh-relaxed">
                    You get components and pages that are built to be customized and used in any combination.
                </p>
            </div>
        </div>
    </div>
</div>

Another Section:

<div class="py-20 py-lg-32 bg-surface-secondary">
    <div class="container max-w-screen-xl">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-8 text-center">
                <!-- Surtitle -->
                <h5 class="h5 mb-5 text-uppercase text-primary">
                    Get started
                </h5>
                <!-- Heading -->
                <h1 class="ls-tight font-bolder mb-5">
                    Simplify, then add lightness.
                </h1>
                <!-- Text -->
                <p class="lead mb-10">
                    Plan, build and launch beautiful and consistent user interfaces for the web that drives meaningful engagement and growth for your brand.
                </p>
                <!-- Buttons -->
                <div class="mx-n2">
                    <a href="#" class="btn btn-lg btn-primary shadow-sm mx-2 px-lg-8">
                        Get started
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

Another nav:

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" href="#">Settings</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Billing</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Security</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Notifications</a>
    </li>
</ul>

Yet another nav: 

<ul class="nav nav-pills">
    <li class="nav-item">
        <a class="nav-link active" href="/">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/book">Domain Testing Workbook</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Security</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Notifications</a>
    </li>
</ul>


card:

      <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-center">
                    <a href="#" class="avatar avatar-xl rounded-circle">
                        <img alt="..." src="https://images.unsplash.com/photo-1579463148228-138296ac3b98?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=3&w=256&h=256&q=80">
                    </a>
                </div>
                <div class="text-center my-6">
                    <!-- Title -->
                    <a href="#" class="d-block h5 mb-0">Julienne Moore</a>
                    <!-- Subtitle -->
                    <span class="d-block text-sm text-muted">julianne.moore@company.com</span>
                </div>
                <!-- Stats -->
                <div class="d-flex">
                    <div class="col-4 text-center">
                        <a href="#" class="h4 font-bolder mb-0">25</a>
                        <span class="d-block text-sm">Posts</span>
                    </div>
                    <div class="col-4 text-center">
                        <a href="#" class="h4 font-bolder mb-0">350</a>
                        <span class="d-block text-sm">Following</span>
                    </div>
                    <div class="col-4 text-center">
                        <a href="#" class="h4 font-bolder mb-0">1.5K</a>
                        <span class="d-block text-sm">Followers</span>
                    </div>
                </div>
            </div>
        </div>