---
layout: base
title: Home
permalink: '/'
heading: Headings aren't used
---

<div class="container-xxl">
    <div class="col-md-9 px-3 mx-auto">
        <div class="text-center mt-20 mb-12">
            <h1 class="display-3 ls-tight">
                <span class="d-inline-flex link-primary">Context Driven</span> Press
            </h1>
        </div>
        <div class="row g-6 g-lg-6">
            <div class="col-12 col-md-6">
                <div class="position-relative rounded-4 shadow-4-hover bg-surface-secondary">
                    <div class="p-5 p-md-5 p-xl-10">
                        <section>
                            <header>
                                <h1 class="h3 ls-tight mb-4">
                                    Kenst.com
                                </h1>
                            </header>
                            <p class="text-muted mb-5">
                                Ideas and stories on understanding systems through software testing. Blog established in 2009. 
                            </p>
                            <footer>
                                <a href="https://www.kenst.com/?utm_source=cdp" class="font-semibold link-primary stretched-link">Go -></a>
                            </footer>
                        </section>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="position-relative rounded-4 shadow-4-hover bg-surface-secondary">
                    <div class="p-5 p-md-5 p-xl-10">
                        <section>
                            <header>
                                <h1 class="h3 ls-tight mb-4">
                                    TestingConferences
                                </h1>
                            </header>
                            <p class="text-muted mb-5">
                                The world’s most popular list of software testing conferences and workshops from around the world. Open source and community driven. 
                            </p>
                            <footer>
                                <a href="https://testingconferences.org/?utm_source=cdp" class="font-semibold link-primary stretched-link">Go -></a>
                            </footer>
                        </section>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="position-relative rounded-4 shadow-4-hover bg-surface-secondary">
                    <div class="p-5 p-md-5 p-xl-10">
                        <section>
                            <header>
                                <h1 class="h3 ls-tight mb-4">
                                    Context Driven Testing
                                </h1>
                            </header>
                            <p class="text-muted mb-5">
                                The original source for the principles of the Context Driven Testing school (later changed to be an approach) of software testing.
                            </p>
                            <footer>
                                <a href="https://context-driven-testing.com/?utm_source=cdp" class="font-semibold link-primary stretched-link">Go -></a>
                            </footer>
                        </section>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="position-relative rounded-4 shadow-4-hover bg-surface-secondary">
                    <div class="p-5 p-md-5 p-xl-10">
                        <section>
                            <header>
                                <h1 class="h3 ls-tight mb-4">
                                   LAWST & WTST
                                </h1>
                            </header>
                            <p class="text-muted mb-5">
                                The original source for the Los Altos Workshop on Software Testing and the Workshop on Teaching Software Testing.
                            </p>
                            <footer>
                                <a href="https://lawst.com/?utm_source=cdp" class="font-semibold link-primary stretched-link">Go -></a>
                            </footer>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
